@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}


.main-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content:flex-end;
    padding: 30px;
}

.main-nav a{
    text-decoration: none;
    color: rgb(253, 247, 247);
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-titulo{
    padding: 30px 30px;
}

.main-titulo{
    text-align: center;
    margin-bottom: 50px;
}


.main-nav a{
    color: #FFFFFF;
    font-family: 'Gotam SSM', sans-serif;
    font-size: 20px;
}

.nav-titulo h2{
    color: #FFFFFF;
    font-family: 'Gotam SSM', sans-serif;

}

.header-container{
    background-color: black;
}

.main-container h3, h4{
    color: #FFFFFF;
    font-family: 'Gotam SSM', sans-serif;

}

.main-container{
    background-color: #000000;
}

.main-nav a:hover{
    border-bottom: 3px solid #950101;/*Colocar linea debajo de h4*/
    padding-bottom: 8px;/*separacion entre tituli h4 y linea*/
    display: inline-block;
}












.fon{
    background-color: #000000;
}
 

.contenedor{
    max-width: 1200px;
    color: #ffffff;
    padding: 10px;
    margin: auto;
    display: flex;  
    justify-content: space-between;

}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #6b6a6a;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #ffffff;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #950101;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #fafafa;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #950101;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #ffffff;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
    color: #FFFFFF;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fcfcfc;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fcfcfc;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #5f5f5f;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #950101;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }

  .contenedor-items .item .img-item {
    width: 150%;
    height: 150px; /* Ajusta la altura según tus preferencias */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor manteniendo la relación de aspecto */
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    padding: 2rem;
}

.footer-section {
    flex: 1; /* Permitimos que las secciones ocupen todo el espacio disponible */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alineamos los elementos al centro verticalmente */
    justify-content: center; /* Alineamos los elementos al centro horizontalmente */
    min-height: 100px; /* Altura mínima para cada sección */
}

.link-column h4 {
    color: #ffffff;
}

.link-column ul {
    list-style: none;
    padding: 0;
}

.link-column ul li {
    margin-bottom: 0.5rem;
}



.footer-content {
    text-align: center; /* Centramos el contenido del footer */
}

.footer-content p {
    max-width: 400px; /* Define el ancho máximo del párrafo */
}

.social-links a i {
    font-size: 24px; /* Ajustamos el tamaño de los iconos */
    color: #950101; /* Cambiamos el color a rojo */
    transition: color 0.3s; /* Agregamos una transición para el cambio de color */
}

.social-links a i:hover {
    color: rgb(233, 232, 232); /* Cambiamos el color al pasar el ratón por encima */
}

.link-column h4 {
    color: #ffffff; /* Cambiamos el color del texto a blanco */
    font-size: 1.2rem; /* Hacemos los títulos un poco más grandes */
    margin-bottom: 1rem; /* Agregamos espacio debajo de los títulos */
}

.link-column ul li a {
    color: #ffffff; /* Cambiamos el color de los enlaces a blanco */
    font-size: 1rem; /* Hacemos los enlaces un poco más grandes */
    text-decoration: none; /* Quitamos la subrayado de los enlaces */
    transition: color 0.3s; /* Agregamos una transición para el cambio de color */
}


.link-column ul li a:hover {
    color: #ff0000; /* Cambiamos el color de los enlaces a rojo al pasar el ratón por encima */
}

.copyright {
    background-color: #181818; /* Fondo gris oscuro */
    color: #ffffff; /* Texto blanco */
    text-align: center; /* Centrar el texto */
    padding: 1rem 0; /* Agregar espacio interno arriba y abajo */
}


